body {
  font-family: "BioRhyme", sans-serif;
  background-color: black;
}

h1, h2, h3, .card-body>.card-title {
  font-family: "BioRhyme", cursive;
}

.card-title {
  font-weight:  500;
  font-size: 1.25rem; 
}

h2 {
  color: #16F1D4;
}

.card-img-overlay .card-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.site-footer {
  background-image: linear-gradient(to right, #16F1D4, #45A29E, #C5C6C7, black);
  padding: 20px 0;   
}

.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to right, #16F1D4, #45A29E, #C5C6C7, black);
  color: white;
}

.jumbotron h2 {
  color: white;
}

.navbar-dark {
  background-color:transparent;
}

.breadcrumb {
  background-color:transparent;
  color: white;
}

#about {
  color:white;
}

#ul {
  font-size: 0.95em;
}

.page-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: 300ms ease-out;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: 300ms ease-in;
}

.link {
  color: white;
}

.navbar-dark:hover 
.nav-link:hover {
    color: #16F1D4;
}

 /*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/

#words, #smile, #number, #personal {
  border-color: #16F1D4;
  color: white;
  align-items: center;
 
}

#words:hover, #smile:hover,
#number:hover, #personal:hover {
color: #16F1D4;
}

h3 {
  color: white;
}

h3:hover {
    color: #16F1D4;
}

label {
  color: white;
} 
label:hover {
  color: #16F1D4;
}

.form-container {
  width:840px;
  height: 690px;
  border-radius:8px;
  box-shadow:0 0 55px -10px #16F1D4;
  margin:calc(35vh - 220px) auto;
  padding:20px 30px;
  max-width:calc(90vw - 40px);
  box-sizing:border-box;
  position: relative;
}

a {
  color: white;
}

#email {
  color: white;
}

a:hover, #email:hover {
  color: #16F1D4;
}